body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

h2, h1 {
    color: #c60;
    font-style: italic;
}

h2 {
    border-bottom: 2px dotted #3B0AB5;
    padding-bottom: 10px;
}

#startblock {
    text-align: center;
}

#preview {
    font-size: 16px;
    font-style: oblique;
}

.post {
    border-width: 2px;
    border-style: groove;
    border-color: #3B0AB5;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    text-align: center;
    padding: 5px;
}

.end {
    text-align: center;
}

a:link {
    color: gray;
}

a:visited{
    color: black;
}

a:visited{
    color: red;
}

#python {
    padding: 5px;
    border: 3px dashed white;
    background-color: #F0225F;
    font-style: italic;
    font-family: Georgia, sans-serif;
}

pre {
    font-size: 14px;
    font-style: italic;
    color: blue;
}
